<launch>

	<!--KINECT - Iniciando os nós do KINECT referentes a depth e iniciando o nó da funcão de transferência do Kinect para o mapa estático-->

	<include file="/opt/ros/indigo/share/freenect_launch/launch/freenect.launch">
		<arg name="rgb_processing"                  value="false" />
		<arg name="ir_processing"                   value="false" />
		<arg name="depth_registered_processing"     value="false" />
		<arg name="disparity_processing"            value="false" />
		<arg name="disparity_registered_processing" value="false" />
	</include>

	<node pkg="tf" type="static_transform_publisher" name="simple_tf_kinect_broadcaster_node" args="0 0.30 0 0 0 1.57079632679 camera_depth_optical_frame map 100" /> 

</launch>
